#encoding:utf-8
<h2>chat</h2>

<ul>
  <% @tweets.each do |tweet| %>
  <li id="tweet_<%= tweet.id %>"><%= tweet.tweet %>（by <%= tweet.user %>） </li>
  <% end %>
</ul>

<h2>tweet</h2>
<%= form_for @tweet, :remote => true, :html =>{:id =>"comment_form_#{tweet.id}"} do |f| %>

<div class="field">
  <%= f.label :user %>
  <%= f.text_field :user %>
</div>

<div class="field">
  <%= f.label :tweet %>
  <%= f.text_area :tweet, :rows =>5 %>
</div>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>

<script>
$(function(){

  $('#comment_form_<%= tweet.id %>').on('ajax:success', function(e, data, status, xhr) {
    $('#tweet_'+data.tweet.id).fadeIn("slow");
  });

});
</script>
