#encoding:utf-8

<br>
<% if flash[:notice] %>
    <div id="notice"><%= image_tag("warning.jpg") %><%= notice %></div>
<% end %>
<br>

<%= form_for @new_tweet do |f| %>

<table style="margin-left: auto;margin-right: auto;">
<tr>
    <td><%= f.hidden_field :user %></td>
    <td><%= f.text_area :tweet, :rows =>3 %></td>
    <td><%= f.submit 'つぶやく' %></td>
</tr>
</table>
<% end %>

<br>
<hr width="45%">
<br>
<br>


<div class="display">
<table id="tweet_table">
  <% @tweets.each do |tweet| %>
  <tr id="tweet_<%= tweet.id %>">
    <td>
      <div class="user"><%= tweet.user %></div><br>
      <div class="tweet"><pre><%= tweet.tweet %></pre></div><br>
      <div class="tweet_action">
        <a href="javascript:void(0)" onclick="comment_display(<%= tweet.id %>)">コメント</a>
        <%= link_to '削除する', tweet, :method => :delete, :confirm => '本当に削除しますか？', :remote => true%>
        <%= link_to 'ねつ造する', edit_tweet_path(tweet) %>
        投稿日：<%= tweet.created_at %>
      </div><br>
    </td>
  <tr>
  <tr id="comment_<%= tweet.id %>" style="display:none">
    <td>
        <% if tweet.comments.any? %>
          <table id="comment_table">
          <% tweet.comments.each do |comment| %>
            <tr>
              <td>
                <div class="user"><%= comment.user %></div><br>
                <pre><%= comment.body %></pre><br>
                <div class="tweet_action">投稿日：<%= comment.created_at %></div>
              </td>
            </tr>
            <tr><td><hr></td></tr>
          <% end %>
          </table>
        <% end %>
        <table id="comment_table">
        <tr><td>
        <%= form_for([tweet, @comment]) do |f| %>
          <%= f.hidden_field :user %>
          <%= f.text_area :body, :rows =>3 %>
          <%= f.submit 'コメント' %>
        <% end %>
        </tr></td>
        </table>      
    </td>
  </tr>
  <tr id="delimiter_<%= tweet.id %>"><td><hr></td></tr>
  <% end %>
</table>
</div>


<script>
$(function(){

  setTimeout(function(){
    $('#notice').fadeOut("slow");
  }, 2500);

  $('a[data-method="delete"]').on('ajax:success', function(e, data, status, xhr) {
    $('#tweet_'+data.tweet.id).fadeOut("slow");
    $('#comment_'+data.tweet.id).fadeOut("slow");
    $('#delimiter_'+data.tweet.id).fadeOut("slow");
  });

});

function comment_display(id){
    $('#comment_'+id).fadeIn(1000);
}
</script>
