#encoding:utf-8
<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'ogi_favicon.png' %>
</head>
<body>

<div class="header">
    <table>
    <tr>
        <td width="1%">&nbsp;</td>
        <td><%= image_tag("rails.png") %></td>
        <td width="100%">
            <div class="chat_title">　Railsでチャット</div>
            <div class="chat_link">
                <%= link_to 'ログイン', users_path %>
                <%= link_to 'ヘルプ', users_path %>
            </div>
        </td>
    </tr>
    </table>
</div>

<div class="main">
<%= yield %>
</div>

</body>
</html>
